In [0]:
import pandas as pd
df = pd.read_csv("eligible_women_cleaned.csv")

In [0]:
df_ew5 = df[["STATEID","HHID","EW5","EW6","EW8","EW9","EW10","EW14A","EW15A","EW15B","EW16A","EW16B","EW16C","EW18A","EW18B","HB1","HB2","HB3","HB4","HB5","HB6","HB7","HB8","AI1","GR9F","GR13A","GR16A","GR17A","GR18A","GR18B","GR22","GR27A","MH1A","MH1E","MH2","MH4A","URBAN2011","METRO","ID11","ID13","COPC","INCOMEPC","NPERSONS","ED2","ED4"]]

In [0]:
df_ew5_dropped_na = df_ew5.dropna()

In [0]:
 import numpy as np 
 
 df_matrix = np.array(df_ew5_dropped_na.to_numpy())

In [0]:
!pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/25/fd/0561e2dd29aeed544bad2d1991636e38700cdaef9530490b863741f35295/apyori-1.1.1.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.1-cp36-none-any.whl size=5972 sha256=fe888736723ae241bdab0df3416fc6af9fd0800835e27d05de8c48523e6cc5c0
  Stored in directory: /root/.cache/pip/wheels/7b/2a/35/c0c3749c1a36d4f454ea22d8396e1b854b86340d63cbbb7949
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.1

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [0]:
df_ew5_dropped_na.head()

    STATEID  HHID  EW5  EW6  ...      INCOMEPC  NPERSONS  ED2  ED4
0         1    10    2   49  ...  19566.666016         9  0.0  0.0
1         1    10    4   26  ...  19566.666016         9  1.0  1.0
6         1    50    4   25  ...  21260.000000        10  0.0  0.0
7         1    60    4   29  ...  13827.272461        11  0.0  0.0
11        1    90    2   25  ...   6355.000000         4  0.0  0.0

[5 rows x 45 columns]

In [0]:
df_matrix.shape

(20324, 45)

In [0]:
records = []
for i in range(0, 20324):
    records.append([df_matrix[i,j] for j in range(0, 45)])

In [0]:
records[0]

[1.0,
 10.0,
 2.0,
 49.0,
 0.0,
 4.0,
 5.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 16.0,
 15.0,
 0.0,
 1.0,
 1.0,
 3.0,
 2.0,
 4.0,
 4.0,
 2.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 10.0,
 18.0,
 1.0,
 3.0,
 0.0,
 0.0,
 2.0,
 3.0,
 28476.4453125,
 19566.6660156,
 9.0,
 0.0,
 0.0]

In [0]:
association_rules = apriori(records, min_support=0.020, min_confidence=0.2, min_lift=3, min_length=2)
association_results = list(association_rules)

In [0]:
print(len(association_results))
print(association_results[0])

0

IndexError: ignored

In [0]:
for item in association_rules:

    # first index of the inner list
    # Contains base item and add item
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])

    #second index of the inner list
    print("Support: " + str(item[1]))

    #third index of the list located at 0th
    #of the third index of the inner list

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")