In [0]:
import pandas as pd
tsv_file='36151-0003-Data.tsv'
csv_table=pd.read_table(tsv_file,sep='\t')
csv_table.to_csv('eligible_women.csv',index=False)

C:\Users\vkhanna\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (15,16,17,18,19,20,21,28,29,30,31,32,33,34,35,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,62,63,65,66,68,78,79,80,81,82,84,85,86,87,88,89,91,99,100,101,102,105,106,107,108,109,110,113,114,115,116,119,134,135,139,140,145,157,158,161,162,163,164,165,166,167,168,170,171,172,173,174,179,180,181,191,192,193,194,195,196,197,202,203,209,213,217,218,219,220,221,223,224,225,226,227,228,229,232,233,234,235,236,237,248,249,250,251,252,253,254,255,256,257,258,259,260,261,278,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,453,454,458,459,460,461,468,476,510,511,512,513,515) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df = pd.read_csv("eligible_women.csv")

C:\Users\vkhanna\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (15,16,17,18,19,20,21,28,29,30,31,32,33,34,35,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,62,63,65,66,68,78,79,80,81,82,84,85,86,87,88,89,91,99,100,101,102,105,106,107,108,109,110,113,114,115,116,119,134,135,139,140,145,157,158,161,162,163,164,165,166,167,168,170,171,172,173,174,179,180,181,191,192,193,194,195,196,197,202,203,209,213,217,218,219,220,221,223,224,225,226,227,228,229,232,233,234,235,236,237,248,249,250,251,252,253,254,255,256,257,258,259,260,261,278,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,453,454,458,459,460,461,468,476,510,511,512,513,515) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df.GE10A.unique()

array(['1', ' ', '2'], dtype=object)

In [0]:
import pandas as pd
df = pd.read_csv("eligible_women_cleaned.csv")

In [0]:
df_ew5 = df[["STATEID","HHID","EW5","EW6","EW8","EW9","EW10","EW14A","EW15A","EW15B","EW16A","EW16B","EW16C","EW18A","EW18B","HB1","HB2","HB3","HB4","HB5","HB6","HB7","HB8","AI1","GR9F","GR13A","GR16A","GR17A","GR18A","GR18B","GR22","GR27A","MH1A","MH1E","MH2","MH4A","URBAN2011","METRO","ID11","ID13","COPC","INCOMEPC","NPERSONS","ED2","ED4"]]

In [0]:
df_ew5_dropped_na = df_ew5.dropna()

In [4]:
df_ew5_dropped_na.head()

    STATEID  HHID  EW5  EW6  ...      INCOMEPC  NPERSONS  ED2  ED4
0         1    10    2   49  ...  19566.666016         9  0.0  0.0
1         1    10    4   26  ...  19566.666016         9  1.0  1.0
6         1    50    4   25  ...  21260.000000        10  0.0  0.0
7         1    60    4   29  ...  13827.272461        11  0.0  0.0
11        1    90    2   25  ...   6355.000000         4  0.0  0.0

[5 rows x 45 columns]

In [0]:
df_ew5.to_csv("eligible_women_cleaned.csv",index=False)

In [5]:
df_ew5_dropped_na.shape

(20324, 45)

In [0]:
 import numpy as np 
 
 df_matrix = np.array(df_ew5_dropped_na.to_numpy())

In [7]:
df_matrix.shape

(20324, 45)

In [0]:
from sklearn.cluster import AffinityPropagation
clustering = AffinityPropagation(damping=0.5, max_iter=200, convergence_iter=20, copy=True, preference=None, affinity='euclidean', verbose=False).fit(df_matrix)

In [6]:
cluster_centers_indices = clustering.cluster_centers_indices_
labels = clustering.labels_

n_clusters_ = len(cluster_centers_indices)

print('Estimated number of clusters: %d' % n_clusters_)

Estimated number of clusters: 6279

In [0]:
import pickle

pickle.dump(clustering.cluster_centers_,open("cs_cluster_centers.dat","wb"))
pickle.dump(clustering.cluster_centers_indices_,open("cs_cluster_centers_indices.dat","wb"))
pickle.dump(clustering.labels_,open("cs_cluster_labels.dat","wb"))

In [0]:
clustering.cluster_centers_[:1]

array([[1.00000000e+00, 1.00000000e+01, 2.00000000e+00, 4.90000000e+01,
        0.00000000e+00, 4.00000000e+00, 5.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.60000000e+01, 1.50000000e+01, 0.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 3.00000000e+00, 2.00000000e+00,
        4.00000000e+00, 4.00000000e+00, 2.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        1.00000000e+01, 1.80000000e+01, 1.00000000e+00, 3.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.00000000e+00, 3.00000000e+00,
        2.84764453e+04, 1.95666660e+04, 9.00000000e+00, 0.00000000e+00,
        0.00000000e+00]])

In [0]:
len(clustering.labels_)

20324